// =========================
// STATES - DISPLAY NONE
// =========================

.js-hidden {
  @include media-query(max, map_get($breakpoints, md)) {
    display: none;
  }
}

//MOBILE MENU DYNAMIC CLASSES

.js-overflow-hidden {
  @include media-query(max, map_get($breakpoints, lg)) {
    overflow-y: hidden;
  }
}

.js-navbar-scroll {
  @include media-query(max, map_get($breakpoints, lg)) {
    display: block;
    height: 100vh;
    overflow-y: auto;
  }
}

.js-display-mobile {
  @include media-query(max, map_get($breakpoints, lg)) {
    animation-name: fade-in;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }
}

.js-display-mobile-overlay {
  @include media-query(max, map_get($breakpoints, lg)) {
    animation-name: fade-in-overlay;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
  }
}
