// =========================
// BANNER
// =========================

.banner {
  $self: &;

  &__link {
    @include position-flex(column, center, center);
    @include size-min(false, 120px);
    @include background-color(map_get($grey-scale-colors, grey-100));

    @include media-query(min, map_get($breakpoints, lg)) {
      @include size-min(false, 300px);
    }

    @include media-query(min, map_get($breakpoints, xl)) {
      @include size-min(false, 350px);
    }

    @include media-query(min, map_get($breakpoints, extra-xl)) {
      @include size-min(false, 450px);
    }
  }

  &__img {
    @include size-max(100%, false);
    @include size-custom(100%, auto);
  }

  &__desciption {
    @include font-structure(map_get($font-family, regular), px-to-rem(12px), 300);
    @include font-skin(map_get($black-scale-colors, black-100), 3.5px, uppercase);

    text-align: center;

    @include media-query(min, map_get($breakpoints, lg)) {
      font-size: font-in-rem(16px);
    }
  }

  &--advertisment {
    @include margin(0, auto, 70px, auto);
    @include background-color(map_get($white-scale-colors, white-100));
  }

  &--newsletter {
    @include background-color(map_get($grey-scale-colors, grey-200));
  }

  &--benefits {
    #{ $self }__link {
      @include position-flex(column, center, center);
      @include size-min(false, 120px);
      @include background-color(map_get($grey-scale-colors, grey-100));

      @include media-query(min, map_get($breakpoints, lg)) {
        @include size-min(false, 200px);
      }
    }
  }

  &--slider {
    @include position-flex(column, center, center);
    @include size-custom(100%, 430px);
    @include background-color(map_get($grey-scale-colors, grey-200));

    @include media-query(min, map_get($breakpoints, lg)) {
      @include size-custom(100%, 520px);
    }
  }
}

.newsletter {
  @include position-flex(column, center, center);
  @include size-max(100%, false);
  @include padding(20px, 10px, 20px, 10px);

  @include media-query(min, map_get($breakpoints, lg)) {
    @include size-min(false, 180px);
  }

  &__content {
    @include position-flex(column, center, center);
    @include size-max(280px, false);

    @include media-query(min, map_get($breakpoints, lg)) {
      @include size-max(100%, false);
    }

    span {
      @include margin(2px, 0, 2px, 0);
    }
  }

  &__button {
    @include position-flex(column, center, center);
    @include margin(25px, 0, 10px, 0);
  }
}

.benefits {
  &__title {
    @include margin(25px, 10px, 25px, 10px);

    @include media-query(min, map_get($breakpoints, lg)) {
      @include margin(40px, auto, 50px, auto);
    }
  }

  &__social {
    @include position-flex(row, center, center);
    @include size-custom(100%, false);
  }

  &__link {
    @include margin(0, 15px, 0, 15px);
  }

  &__img {
    @include size-custom(40px, 40px);
  }

  &__description {
    @include padding(30px, 10px, 30px, 10px);

    @include media-query(min, map_get($breakpoints, lg)) {
      @include size-max(1360px, false);
      @include padding(30px, 30px, 30px, 30px);
      @include margin(15px, auto, 15px, auto);
    }
  }
}
