// =========================
// HEADER
// =========================

.header {
  @include position(relative, false, false, false, false);
  @include position-flex(column, false, false);
  @include size-custom(100%, false);
  @include background-color(map_get($white-scale-colors, white-100));

  z-index: map_get($z-index, index-50);

  @include media-query(min, map_get($breakpoints, lg)) {
    @include position(static, false, false, false, false);
  }

  &__overlay {
    @include position(absolute, 0, 0, false, false);
    @include size-custom(100%, 100vh);
    @include background-color(map_get($black-scale-colors, black-200));

    transform: translateX(100%);
    opacity: 0;
    z-index: map_get($z-index, index-100);

    @include media-query(min, map_get($breakpoints, lg)) {
      display: none;
    }
  }

  &__navigation {
    order: 0;

    @include media-query(min, map_get($breakpoints, lg)) {
      order: 1;
    }
  }

  &__widget {
    order: 1;

    @include media-query(min, map_get($breakpoints, lg)) {
      order: 0;
    }
  }

  &__nav {
    @include media-query(min, map_get($breakpoints, lg)) {
      order: 2;
    }
  }
}
