// =========================
// TYPOGRAPHY
// =========================

@font-face {
  font-family: "Cabin-Bold";
  src: url("../fonts/Cabin-Bold.woff") format("truetype");
}

@font-face {
  font-family: "Cabin-SemiBold";
  src: url("../fonts/Cabin-SemiBold.woff") format("truetype");
}

@font-face {
  font-family: "Cabin-Medium";
  src: url("../fonts/Cabin-Medium.woff") format("truetype");
}

@font-face {
  font-family: "Cabin-Regular";
  src: url("../fonts/Cabin-Regular.woff") format("truetype");
}
