//=========================
// SIZES
// =========================

@mixin size-custom ($width, $height) {
  @if $width { width: $width; }

  @if $height { height: $height; }
}

@mixin size-max ($width, $height) {
  @if $width { max-width: $width; }

  @if $height { max-height: $height; }
}

@mixin size-min ($width, $height) {
  @if $width { min-width: $width; }

  @if $height { min-height: $height; }
}
