// =========================
// FONTS
// =========================

$font-family: (
  regular: 'Cabin-Regular',
  medium: 'Cabin-Medium',
  semi-bold: 'Cabin-SemiBold',
  bold: 'Cabin-Bold',
);

$font-weight: (
  'normal': 400,
  'medium': 500,
  'semi-bold': 700,
  'bold': 900,
);
