// =========================
// FONTS
// =========================

$font-family: (
  regular: "Cabin-Regular",
  medium: "Cabin-Medium",
  semi-bold: "Cabin-SemiBold",
  bold: "Cabin-Bold",
);
